.testimonial {
    background-color: $verde;
    padding: 2rem;
    font-size: 2.4rem;
    color: $blanco;
    border-radius: 2rem;

    blockquote {
        padding-left: 5rem;
        position: relative;


        &::before {
            content: '';
            background-image: url(../../../../bienesraices_inicio/build/img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
            top: 1rem;
        }
    }

    p {
        text-align: right;
        color: $blanco;
    }
}